.emptyTodo-container{
  display: flex;
  margin: 4px auto; 
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-family: var(--tittle-font);
  font-weight: 500;
width: 313px;
height: 53px;
background: linear-gradient(90.08deg, #D9D9D9 -950.92%, rgba(217, 217, 217, 0) 86.05%);
border-radius: 12px;
}
.emptyTodo-text{
  margin-left: 18px;
}
.emptyTodo-icon{
  color: var(--button-color-inactive);
  font-size: 2.8rem;
  margin-left: 58px;
  margin-top: 3px;
}
.second{
  margin-left: 28px;
}