
.addButton{
  position: fixed;
  cursor: pointer;
  font-size: 3.7rem;
  right: 25px;
bottom: 19.5px;
color: var(--button-color-inactive);
transition-duration: 300ms;
background: none;
border: none;
z-index: 2;
}
.addButton:hover{
  font-size: 4rem;
}
.activate{
  transform: rotate(45deg);
  color: #c66950;
}