.completedTasks{
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  /* font-family: var(--title-font); */
  font-weight: 600;
  font-family: 'Martel Sans';
  cursor: pointer;
  width: 230px;

height: 40px;
border-radius: 95px;
color: white;
background: var(--gradient-button);  
border: none;
transition-duration: 300ms;
}

.completedTasks:hover{
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 250px;
}